<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>MLSA Certificates</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            margin: 0;
            text-align: center;
            padding: 0 1rem;
        }

        a {
            text-decoration: inherit;
            color: #027BD4;
        }
    </style>
</head>

<body>
    <h1>Task incomplete!</h1>
    <h3>Add a file named as your college student ID containing your full name in <a
            href="https://github.com/roshan1337d/github-practice">this GitHub repository.</a> You can then download the
        certificate after your pull request is accepted and merged.</h3>
</body>

</html>